version: "3.4"

services:
  identifier:
    ports:
      - "80:80"
  virtuoso:
    ports:
      - "8890:8890"
  mock-login:
    image: lblod/mock-login-service:0.7.0
    links:
      - database:database
    restart: "no"
  op-public-consumer:
    restart: "no"
  frontend:
    image: lblod/frontend-openproceshuis:latest
  bpmn:
    image: lblod/openproceshuis-bpmn-service:latest
  visio:
    image: lblod/openproceshuis-visio-service:latest
  process:
    image: lblod/openproceshuis-process-service:latest
    restart: "no"
  swagger:
    restart: "no"
  modified:
    restart: "no"
  ldes-serve-feed:
    restart: "no"
    environment:
      BASE_URL: "http://localhost/streams/ldes/"
  ldes-delta-pusher:
    restart: "no"
    environment:
      LDES_BASE: "http://localhost/streams/ldes/"
